<?xml version="1.0" encoding="utf-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="  
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd  
            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd  
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"  
            default-autowire="byName" default-lazy-init="false"> 
    
  	<context:annotation-config/>

   <context:component-scan base-package="crawler.*"/>
   
	<!-- 定义爬取网站域名列表 -->
  	<bean id="source" class="java.lang.String">
  		<constructor-arg>
		<value>${source.list}</value>
		</constructor-arg>
  	</bean>

   <bean id="starter" class="crawler.Start" />
   
   <bean id="scheduler" class="us.codecraft.webmagic.scheduler.PriorityScheduler" />
   
   <!-- 定义定时任务 -->
   <bean id="starterJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
 		<property name="targetObject" ref="starter"></property><!-- 指定任务类 -->
 		<property name="targetMethod" value="daily"></property><!-- 指定任务方法 -->
 	</bean>
 	
 	<!-- 定义时间触发器 -->
 	<bean id="timeTigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
 		<property name="jobDetail" ref="starterJob"></property>
 		<property name="startDelay" value="1000" /><!-- 调度工厂实例化后，经过1秒开始执行调度 -->  
		<property name="repeatInterval" value="${schedule.repeatms}" /><!-- 每x毫秒调度一次 --> 
	</bean> 
	
	<!-- 启动定时器 -->
	<bean id="startJob" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">
 		<property name="triggers">
 			<list>
 				<ref bean="timeTigger"/>  
 			</list>
 		</property>
 	</bean>
 
</beans> 